.page.theme_dark {
  --accent-color-theme: #ff0070;
  --color-title-decor: #ff0070;
  --opacity-hover-color-theme: #FF007066;
  --title-color-theme: #DB00FF;
  --content-decor-color-theme: #000028;
  --color-background-theme: #000028;
  --text-color-theme: #F1B2CE;
  --color-button: #ff0070;
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}