.page.theme_light {
  --accent-color-theme: #FF8DCB;
  --color-title-decor: #ff0070;
  --opacity-hover-color-theme: #32312D66;
  --title-color-theme: #FFC2E6;
  --content-decor-color-theme: #353430;
  --color-background-theme: #FF8DCB;
  --text-color-theme: #353430;
  --color-button: #353430;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .decor-element {
  opacity: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color-theme: #FF8DCB;
    --color-title-decor: #ff0070;
    --opacity-hover-color-theme: #32312D66;
    --title-color-theme: #FFC2E6;
    --content-decor-color-theme: #353430;
    --color-button: #353430;
    --text-color-theme: #353430;
  }

.decor-element {
    opacity: 0;
  }
}